<div class="button1-container">

    <style>
        .button1-container {
            width:100%;
            display:flex;
            justify-content: center;
        }
        .button-1 {
            width:90%;
            height: 40px;
            border: 0px;
            border-radius: .5rem;
            background-color: var(--blue);
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            font-weight: bold;
            font-size: 120%;
            color: black;
            cursor: pointer;
        }
    

    </style>

    <button class="button-1" onclick={{ action }}>{{ text }}</button>
</div>