<section class="navbar">
  <style>
    .navbar {
      width: 20vw;
      height: 100%;
      background-color: var(--gray);
      padding:0;
      margin:0;
      margin-right: 20px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      
    }
    .navbar-container {
        width: 100%;
        height: 100%;
        display:flex;
        flex-direction: column;
    }
    .navbar-container .account-button {
        width: 90%;
        display: inline-block;
        align-self: flex-end;

        margin:auto;
        margin-bottom: 5%;
    }
    .home-button, .todos-button {
        margin:auto;
        margin-top: 5%;
    }
    .home-link, .todos-link{
      text-decoration: none;
      color: black;
    }

    .links {
      display: flex;
      flex-direction: column;
      list-style: none;
      justify-content: center;
      transform: translateX(-10px);
    }
  </style>
  <div class="navbar-container">

  <ul class="links">
    <li class="home-button">
      <h2 class="home-title scale-animation scale-animation-1-1"><a href="/" class="home-link">Home</a></h2>
    </li>

    <li class="todos-button">
      <h2 class="todos-title scale-animation scale-animation-1-1"><a href="/todos" class="home-link">Todos</a></h2>
    </li>

  </ul>


  <div class="account-button">
    <form action="account" method="POST">
    {%csrf_token%}
    {%include "button-1.html" with action="submit()" text="Account" animation="2"%}
    </form>
  </div>
  </div>
</section>
