{% extends "base.html" %}
{% load static %}
{% block title %}Todo List{% endblock title %}

{% block style %}
#todolist-ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
h1 {
    color: var(--blue)
}
{% endblock style %}
{% block content %}


<div class="container" id="todolist-container">

<h1>Todo list</h1>
    <ul class="list" id="todolist-ul">
        {% for todo in todos %}
            {%include "todoForm.html"%}
        {% endfor %}

    </ul>

</div>




{% endblock content %}